body{
    margin: 0;
    padding: 0;
}
.title{
    color: green;
    text-align: center;
}

.first-section{
   
    display: flex;
  
    /* border: 1px solid gray; */
    margin: 0 auto;

}
.left-side{
    width: 100%;

}
.second-section h1{
    text-align: center;
}

main img{
    width: 400px;
}
.details-button{
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg,green,red,green);
}

.details-button:hover{
    background: blue;
    color: white;
    cursor: pointer;
}
.all-divisions{
    display: flex;
    justify-content: space-around;
}
.dhaka{
    width: 250px;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px gray;
    border-radius: 5px;
}
.div-img img{
    width: 100%;
}
footer{
    text-align: center;
}